<div>
    <div data-dojo-type="dijit/Dialog" data-dojo-attach-point="dialog" title="Choose a Test">
        <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="test_select">
        </select>
        
        <div class="dijitDialogPaneActionBar">
                <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="run_button">Run</button>
                <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="cancel_button">Cancel</button>
        </div>
    </div>
</div>
